body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPositionCanvasHeadline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas{
    background-color: cornflowerblue;
}